body {
    font-family: "Ubuntu";
}
.me {
    height:500px;
    border-radius: 35px;
    opacity:0.9;
}

.mecover {
    min-height: 600px;
}

#logo {
    border-radius:100px;
    height: 110px;
}

#name a {
    font-family: "LinoTypeZapfino Three";
    color: white;
    font-size: 25px;
    padding-left: 15px;
    text-decoration: none;
    letter-spacing: 2px;
}

#name a:hover {
    color:antiquewhite;
    font-weight: bold;
}

#photos {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;


}

.gall {
    width: 20%;
    margin: 2.2%;
}

.container a {
    color:white;
    text-decoration: overline underline;
    font-size: 17px;
    font-family: "Ubuntu";
    font-weight: bold;
}

.container a:hover {
    color:antiquewhite;
    font-weight: bold;
}

#twit img:hover {
    opacity: 0.5;
}

#inst img:hover {
    opacity: 0.5;
}

#fb img:hover {
    opacity: 0.5;
}
hr.stylee {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc,gray, #ccc);
}


